.table-bordered {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid black;
    padding: 8px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

.btn-warning {
    background-color: yellow;
    border-color: yellow;
    color: black;
}
.custom-modal-header {
    background-color: #ced0db;
    color: #6c757db5;
}
.custom-button {
    background-color: #ced0db;
}

.tag {
    display: inline-block;
    padding: 0px 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.delete-tag {
    cursor: pointer;
    font-size: 18px;
    margin-left: 5px;
}

.container {
    position: relative;
}

.error-box {
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    background-color: #FF00002C;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    transition: opacity 0.3s;
    box-sizing: border-box;
}

.error-box.hidden {
    opacity: 0;
}

.error-message {
    flex: 1;
    transition: opacity 0.3s;
    opacity: 1;
    color: rgba(139, 69, 19, 1);
    position: relative;
    padding-left: 35px;
}

.error-message::before {
    margin-right: 10px;
    content: 'X';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    left: 5px;
    background-color: #FF0000;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    color: white;
    font-weight: bold;
}

.close-icon {
    cursor: pointer;
}

.table-container {
    margin-bottom: 60px;
}

.close-icon svg path {
    fill: red;
}

.custom2-modal-header {
    background-color: #ced0db;
}

.custom2-modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom2-modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-custom {
    width: 70px;
}

body {
    background-color: #c0c0c0;
}

.nav-link{
    margin-left: 1600px;
}

.search-input {
    display: flex;
}

.go-btn {
    height: 40px;
    width: 20%;
}

.sort-icon {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    vertical-align: middle;
    opacity: 0.7;
    position: relative;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.triangle.asc {
    border-bottom: 5px solid black;
}

.triangle.desc {
    border-top: 5px solid black;
}

.page-size-selector {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 5px;
    z-index: 100;
}

.page-size-option {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

.pagination-container {
    margin-right: 700px;
}

.page-number-button.active {
    color: #007bff;
    background-color: bisque !important;
}








