/* Footer.css */
.footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer p {
    color: #6c757d!important;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}