/* LoginForm.css */
.login-container {
    background-color: #c0c0c0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}

.login-box {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
}

.login-title {
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    font-family: "Arial", sans-serif;
}

.form-control {
    margin-bottom: 15px;
}

.login-button-container {
    display: flex;
    justify-content: center;
}

button .btn btn-primary {
    width: 120px;
}

.mb-3 {
    margin-left: 45px;
    margin-right: 45px;
}
