/* custom.css */

.navbar a {
    color: #6c757d!important;
    text-decoration: none;
    font-weight: bold;
    margin-left: 0px;
}
.navbar span {
    margin-left: 1480px;
}

.navbar .btn-primary {
    height: 40px;
    min-width: 100px;
}

.navbar .btn-primary {
    display: flex;
    align-items: center;
}

.navbar .btn-primary span {
    display: inline-block;
    vertical-align: middle;
}

.navbar .btn-primary {
    margin-right: 10px;
}

